<h1>Listado de heroes</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button [routerLink]="['/heroe/nuevo']" routerLinkActive="router-link-active"  class="btn btn-outline-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table *ngIf="!flag && heroes.length > 0" class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Poder</th>
            <th>vivo</th>
            <th>Tools</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of heroes; let i=index">
                
                <td scope="row">{{i+1}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.poder}}</td>
                <td>
                    <label *ngIf="item.vivo" class="badge badge-success">Vivo</label>
                    <label *ngIf="!item.vivo" class="badge badge-danger">Muerto</label>
                </td>
                <td>
                    <button class="btn btn-info mr-1"
                    [routerLink]="['/heroe/',item.id]"  >
                        <i class="fa fa-pen"></i>
                    </button>
                    <button class="btn btn-danger "
                    (click)="borrarHeroe(item,i)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
           
        </tbody>
</table>

<!--loading-->
 
<div *ngIf="flag" class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p>Espere Por Favor</p>
</div>

<div *ngIf="!flag && heroes.length===0" class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    <p>Espere Por Favor</p>
</div>